<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <!--#include file="/common/head.html"-->
  <title>亦可用的博客</title>
  <script src="//guomy.oss-cn-shenzhen.aliyuncs.com/js/vendor/lovue-utils.js"></script>
  <script src="/js/template.js"></script>
</head>
<body class="page-blog">
<!--#include file="/common/nav.html"-->

<div class="seo" style="display: none;">
  <a href="https://www.yikeyong.com/blog/post/build-frontend-dev-env.html">
  <a href="https://www.yikeyong.com/blog/post/common-software-link.html">
  <a href="https://www.yikeyong.com/blog/post/github-settings.html">
  <a href="https://www.yikeyong.com/blog/post/html-front-end-stacks.html">
  <a href="https://www.yikeyong.com/blog/post/issue-intersection-edge.html">
  <a href="https://www.yikeyong.com/blog/post/javascript-quizzes.html">
  <a href="https://www.yikeyong.com/blog/post/large-website-structure.html">
  <a href="https://www.yikeyong.com/blog/post/letsencrypt-https.html">
  <a href="https://www.yikeyong.com/blog/post/nodelist-foreach.html">
  <a href="https://www.yikeyong.com/blog/post/signin-and-signup.html">
  <a href="https://www.yikeyong.com/blog/post/threejs-note-1.html">
  <a href="https://www.yikeyong.com/blog/post/threejs-note-2.html">
  <a href="https://www.yikeyong.com/blog/post/threejs-note-3.html">
  <a href="https://www.yikeyong.com/blog/post/threejs-note-4.html">
  <a href="https://www.yikeyong.com/blog/post/ubuntu-clean-kernel.html">
  <a href="https://www.yikeyong.com/blog/post/ubuntu-nginx.html">
  <a href="https://www.yikeyong.com/blog/post/ubuntu-redis.html">
  <a href="https://www.yikeyong.com/blog/post/useful-online-doc.html">
  <a href="https://www.yikeyong.com/blog/post/weblinker.html">
  <a href="https://www.yikeyong.com/blog/post/website-optimize-images.html">
  <a href="https://www.yikeyong.com/blog/post/website-optimize.html">
</div>

<div class="container">
  <div class="block-posts" id="posts"></div>
  <div class="observer-target"></div>
</div>

<!--#include file="/common/footer.html"-->
<script id="tpl" type="text/html">
  <% for(var i = 0; i < units.length; i++) { %>
  <div class="post">
    <div class="p-title">
      <a href="<%= units[i].path %>/<%= units[i].name %>.html" target="_blank"><%= units[i].title %></a>
    </div>
    <div class="p-info">
      <div class="item">创建日期：<%= units[i].date %></div>
    </div>
    <div class="p-intro"><%= units[i].intro %></div>
  </div>
  <% } %>
</script>
<script>
  !function () {
    let offset = 0, has = true
    const limit = 10

    const observer = new IntersectionObserver((records, _observer) => {
      records.forEach(record => {
        if (record.intersectionRatio > 0 && has) {
          utils.fetch(`/api/blogs?limit=${limit}&offset=${offset}`)
            .then(body => {
              if (body.length < limit) {
                has = false
              }

              posts.innerHTML += template(tpl.innerHTML, {
                units: body
              })

              offset += body.length
            })
        }
      })
    })

    observer.observe(document.querySelector('.observer-target'))
  }()
</script>
</body>
</html>
