<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <!--#include file="/common/head.html"-->
  <title>亦可用的博客</title>
  <script src="/js/lib/utils.js"></script>
  <script src="/js/template.js"></script>
</head>
<body class="page-blog">
<!--#include file="/common/nav.html"-->

<div class="container">
  <div class="block-posts" id="posts"></div>
</div>

<!--#include file="/common/footer.html"-->
<script id="tpl" type="text/html">
  <% for(var i = 0; i < units.length; i++) { %>
  <div class="post">
    <div class="p-title">
      <a href="<%= units[i].path %>/<%= units[i].name %>.html" target="_blank"><%= units[i].title %></a>
    </div>
    <div class="p-info">
      <div class="item">创建日期：<%= units[i].date %></div>
    </div>
    <div class="p-intro"><%= units[i].intro %></div>
  </div>
  <% } %>
</script>
<script>
  utils.fetch('/api/blogs')
    .then(body => {
      console.log(body)
      posts.innerHTML = template(tpl.innerHTML, {
        units: body
      })
    })
</script>
</body>
</html>
