# Logs
logs
*.log
.idea
dist
www
node_modules
public/js/*.bundle.js
public/js/data/novels
public/js/data/videos
public/js/data/audios
public/js/novel.js
public/css/*.css
!public/css/global.css
/public/video
/public/audio
/public/img/beauty
html/coin.html
html/novel
html/video
html/audio
src/js/coin.js
src/md-novel
