@import "Bootstrapping/Variables";
@import (reference) "Bootstrapping/Mixins";
@import "Layout/Blog";

.container {
  .mixin-content-width;

  .tags {
    position: sticky;
    top: 0;
    padding-top: 10px;
    background-color: @white-color;
    overflow-x: auto;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .btn {
      border-radius: @border-radius-small;
      margin-right: 10px;
    }
  }

  .section {
    padding-top: 30px;

    h3 {
      background-color: #E9FAFF;
      font-weight: normal;
      line-height: 40px;
      padding-left: 10px;
    }

    > .list {
      display: flex;
      flex-wrap: wrap;
      font-size: @small-font;

      li {
        width: 50%;
        line-height: 32px;
        padding-left: 20px;
        border-bottom: 1px dashed @border-color;
        word-break: break-all;
      }
    }
  }
}

.encrypt {
  .hvcenter;
  position: absolute;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  background-color: @main-color;

  &.disnone {
    display: none;
  }

  .input {
    background-color: @white-color;
  }
}

.page-club {
  .container {
    .list {
      padding: 40px 0;

      .btn {
        width: 100%;
        height: 60px;
        line-height: 60px;
        margin-bottom: 40px;
        font-size: @normal-font;
      }
    }
  }
}

.page-novel {
  header.header {
    .mixin-content-width;
    padding-top: 60px;
    margin-bottom: 20px;

    > ul.list {
      display: flex;
      background-color: #E9FAFF;

      li {
        width: 100px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        transition: color .2s;

        &:hover {
          color: @pink-color;
        }
      }
    }
  }

  .container {
    .chapters {
      > .above {
        position: relative;
        border-bottom: 1px solid @border-color;


        .ca-title {
          line-height: 40px;
          text-align: center;
          margin: 0;
          font-weight: normal;
        }

        .icon-arrow-down {
          position: absolute;
          top: 10px;
          width: 40px;
          height: 20px;
          cursor: pointer;
        }
      }

      > .below {
        padding: 10px;

        > ul.list {
          display: flex;
          flex-wrap: wrap;
          font-size: @small-font;

          li {
            width: 33%;
            line-height: 36px;
            border-bottom: 1px dashed @border-color;

            @media (max-width: 544px) {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

.page-novel-chapter {
  min-height: 100vh;
  font-family: '楷体', sans-serif;
  font-size: 1.8rem;
  background-color: #FAFAD2;

  .container {
    padding-top: 60px;
    padding-bottom: 1px;

    .post-title {
      text-align: center;
    }

    p {
      line-height: 1.5;
    }

    .b-footer {
      display: flex;
      justify-content: space-between;
      line-height: 60px;
      border-top: 1px solid @border-color;
    }
  }
}

.page-video {
  .video-player {
    .icon-close {
      position: absolute;
      right: 10px;
      top: 10px;
      color: @white-color;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }

    video {
      max-height: calc(100vh - 20px);
    }
  }
}

.page-audio {
  margin-bottom: 80px;

  .audio-player {
    .shadow;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;

    audio {
      width: 1200px;
      margin-top: 14px;
    }

    .icon-close {
      position: absolute;
      right: 18px;
      top: 18px;
      width: 24px;
      height: 24px;
      color: @assist-font-color;
      cursor: pointer;

      &:hover {
        color: @black-color;
      }
    }

    @media (max-width: 544px) {
      text-align: left;

      audio {
        width: calc(100% - 40px);
      }

      .icon-close {
        right: 10px;
      }
    }
  }
}
