@import "Bootstrapping/Variables";
@import "Bootstrapping/Mixins";

body {
  margin-bottom: 40px;
  background-color: @white-color;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: @bar-height;
  border-bottom: 1px solid @border-color;
  padding: 0 10px;
  background-color: @white-color;

  .logo {
    .link {
      font-family: Consolas, sans-serif;
      font-size: @big-font;
      color: @blue-color
    }
  }

  > .list {
    display: flex;

    .link {
      display: block;
      min-width: 100px;
      text-align: center;
    }
  }
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;

  > .below {
    line-height: 40px;
    background-color: @black-color;
    color: @white-color;
    font-size: @small-font;
  }
}

@import "Layout/Blog";
@import "Layout/500px";
@import "Pages/index";
@import "Pages/blog";
@import "Pages/article";
@import "Pages/dockMenu";
@import "Pages/controls";
@import "Pages/shapes";
