<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <!--#include file="/common/head.html"-->
  <title>小说站</title>
  <link rel="stylesheet" href="/css/novel.css">
  <script src="/js/vendor/vue.js"></script>
  <script type="module" src="/js/novel.js"></script>
</head>
<body class="page-novel">
<!--#include file="/common/nav.html"-->

<div class="mask"></div>

<div id="app" v-cloak>
  <div class="encrypt" v-if="!openDoor">
    <input class="input" @keypress.enter="invalidate" placeholder="请输入密码">
  </div>
  <!--<header class="header" v-if="openDoor">
    <ul class="list">
      <li @click="type = 'all'">所有</li>
      <li @click="type = 'long'">长篇</li>
      <li @click="type = 'short'">短篇</li>
    </ul>
  </header>-->

  <div class="container" v-else>
    <nav class="tags">
      <a class="btn" :class="{focus: type === 'long'}" @click="type = 'long'">长篇</a>
      <a class="btn" :class="{focus: type === 'short'}" @click="type = 'short'">短篇</a>
    </nav>
    <section class="section" v-show="type === 'long'">
      <transition name="fade" mode="out-in">
        <ul class="list novels" v-if="!showChapters">
          <li v-for="novel of novels.long">
            <a class="link" @click="openNovel(novel)">{{novel.name}}</a>
          </li>
        </ul>

        <div class="chapters" v-else>
          <div class="above">
            <svg class="icon-arrow-down dir-left" @click="showChapters = false">
              <use xlink:href="/img/icons.svg#icon-arrow-down"></use>
            </svg>
            <h4 class="ca-title">{{current.name}}</h4>
          </div>
          <div class="below" v-show="current.chapters">
            <ul class="list">
              <li v-for="(chapter, i) of current.chapters"><a class="link" :href="`/novel/${current.value}/${i+1}.html`" target="_blank">{{chapter}}</a></li>
            </ul>
          </div>
        </div>
      </transition>
    </section>

    <section class="section" v-show="type === 'short'">
      <ul class="list novels">
        <li v-for="novel of novels.short">
          <a class="link" target="_blank" :href="`/novel/short/${novel.value}.html`">{{novel.name}}</a>
        </li>
      </ul>
    </section>
  </div>

  <!--<section class="container" v-if="openDoor">
    <ul class="list novels" v-show="!showChapters">
      <li v-for="novel of showedNovels">
        <a class="link" target="_blank" :href="`/novel/short/${novel.value}.html`" v-if="novel.type === 'short'">{{novel.name}}</a>
        <a class="link" @click="openNovel(novel)" v-else>{{novel.name}}</a>
      </li>
    </ul>

    <div class="chapters" v-show="showChapters">
      <div class="above">
        <svg class="icon-arrow-down dir-left" @click="showChapters = false"><use xlink:href="/img/icons.svg#icon-arrow-down"></use></svg>
        <h4 class="ca-title">{{current.name}}</h4>
      </div>
      <div class="below" v-show="current.chapters">
        <ul class="list">
          <li v-for="(chapter, i) of current.chapters"><a class="link" :href="`/novel/${current.value}/${i+1}.html`" target="_blank">{{chapter}}</a></li>
        </ul>
      </div>
    </div>
  </section>-->
</div>
</body>
</html>
