<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <!--#include file="/common/head.html"-->
  <meta name="description" content="包含了来自Web Tools、Mobile Web、JavaScript、Pony Foo、Node、FrontEnd Focus、eWebDesign、Mozilla的周报精华，时刻走在技术的前沿。">
  <title>Weekly | 亦可用</title>
  <link rel="stylesheet" href="/css/weekly.css">
  <script src="/js/vendor/vue.js"></script>
</head>
<body>
<!--#include file="/common/nav.html"-->

<div id="app" v-cloak>
  <div class="container c-index">
    <header class="header">
      <ul class="list">
        <li :class="curSite === key ? 'btn' : 'btn-ghost'" v-for="(name, key) of sites" @click="selectSite(key)">{{name}}</li>
      </ul>
    </header>
  
    <section class="content">
      <ul class="list">
        <li class="weekly" v-for="weekly of showed">
          <h3 class="w-title">
            <a class="link" :href="`posts/${weekly.url}.html`">「{{weekly.sn}}」 {{weekly.name}}</a>
          </h3>
          <div class="w-info">
            <span>来源：{{sites[weekly.site]}}</span>
            <span>日期：{{weekly.date}}</span>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      sites: {
        all: 'All',
        webtools: 'Web Tools',
        mobileweb: 'Mobile Web',
        js: 'JavaScript',
        ponyfoo: 'Pony Foo',
        node: 'Node',
        fefocus: 'FrontEnd Focus',
        ewebdesign: 'eWebDesign',
        mozilla: 'Mozilla'
      },
      curSite: '',
      weeklies: [
        {
          name: 'JavaScript 中的 HTML 注释',
          url: 'html-comments-in-js',
          site: 'webtools',
          date: '2017-10-12',
          sn: 221
        }
      ]
    },
    computed: {
      showed() {
        if (this.curSite === 'all') return this.weeklies

        return this.weeklies.filter(weekly => weekly.site === this.curSite)
      }
    },
    methods: {
      selectSite(site) {
        this.curSite = site
      }
    },
    created() {
      this.selectSite('all')
    }
  })
</script>
</body>
</html>
