<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <!--#include file="/common/head.html"-->
  <title>500px布局 | 亦可用</title>
  <script src="/js/vendor/vue.js"></script>
</head>
<body>
<div id="app">
  <div class="container">
    <div class="px-500">
      <template v-for="item of items">
        <template v-if="item.count">
          <div class="cell" v-for="n of item.count">
            <img :src=`/pictures/${item.path}/${item.prefix}${('000'+n).slice(-item.digits)}.jpg`>
          </div>
        </template>
        <template v-if="item.files">
          <div class="cell" v-for="file of item.files">
            <img :src=`/pictures/${item.path}/${file}`>
          </div>
        </template>
      </template>

      <div class="cell-last"></div>
    </div>
  </div>
</div>
<script>
  new Vue({
    el: '#app',
    data: {
      items: [
        { path: 'sexy/av/封面', prefix: '美人搜查官', count: 5, digits: 3 },
        {
          path: 'sexy/av',
          files: [
            'さくらえな.jpg',
            '愛乃なみ.jpg',
            '本田岬.jpg',
            '本田岬2.jpg',
            '倉持結愛.jpg',
            '長谷川.jpg',
            '大場ゆい.jpg',
            '大槻ひびき.jpg',
            '河合紗里.jpg',
            '鈴木心春.jpg',
            '秋山祥子.jpg',
            '山川青空.jpg',
            '西川ゆいが.jpg',
            '夏希アンジュ.jpg',
            '緒川りお.jpg',
            '桜木凛.jpg',
            '永瀬里美.jpg'
          ]
        },
        { path: 'favorite', prefix: 'favorite', count: 5, digits: 4 },
        {
          path: 'favorite',
          files: [
            '白井黑子.jpg',
            '北方工业大学校花奉奉.jpg',
            '程琳.jpg',
            '傅颖.jpg',
            '高雅拉.jpg',
            '何琢言.jpg',
            '三井麻由.jpg',
            '深田恭子.jpg',
            '深渊传说COS.jpg',
            '台湾超清秀校花璇璇.jpg',
            '覃霓.jpg',
            '诛仙陆雪琪COS.jpg'
          ]
        },
        { path: 'sexy/lesbian', prefix: 'lesbian', count: 5, digits: 4 }
      ]
    },
    methods: {
      updateCell(elem, width, height) {
        elem.style.width = width / height * 200 + 'px'
        elem.style.flexGrow = width / height
        this.$nextTick(() => {
          elem.style.height = elem.offsetWidth * height / width + 'px'
        })
      }
    },
    mounted() {
      this.$el.querySelectorAll('.cell img').forEach(img => {
        if (img.complete) {
          this.updateCell(img.parentNode, img.naturalWidth, img.naturalHeight)
        } else {
          img.onload = ev => {
            this.updateCell(ev.target.parentNode, ev.target.naturalWidth, ev.target.naturalHeight)
          }
        }
      })
    }
  })
</script>
</body>
</html>
