<!DOCTYPE html>
<html lang="zh">
<head>
  <!--#include file="/common/head.html"-->
  <meta name="description" content="使用Vue.js实现一些常用的UI组件，包括一些纯CSS实现的控件，比如：按钮、输入框、弹出框、图片裁剪、富文本编辑器、走马灯...">
  <title>Vue 前端组件 | 亦可用</title>
  <link rel="stylesheet" href="https://unpkg.com/lovue/dist/lovue.css">
  <!-- <link rel="stylesheet" href="/workspace/lovue/dist/lovue.css"> -->
  <link rel="stylesheet" href="/css/vue-components.css">
  <script src="/js/vendor/vue.js"></script>
  <script src="https://unpkg.com/lovue/dist/lovue.min.js"></script>
  <!-- <script src="/workspace/lovue/dist/lovue.js"></script> -->
  <script src="/js/vendor/beautify-html.min.js"></script>
  <script src="/js/vue-components.bundle.js" defer></script>
  <script src="/js/vendor/prism.js" defer></script>
</head>
<body>
<div id="app">
  <vue-beauty-alert ref="alert"></vue-beauty-alert>

  <vue-popup-window title="这是标题" :show="bShowWindow" @close="bShowWindow = false">
    <form class="form" slot="content">这是内容</form>
  </vue-popup-window>

  <div class="container">
    <aside class="c-left"></aside>
    <div class="c-right">
      <div class="panel" id="toLeftRight">
        <div class="title">左右布局</div>
        <p>左边固定宽度，右边全宽且自适应的布局</p>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <div class="left-right left-right-demo">
                <div class="left"></div>
                <div class="right"></div>
              </div>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;div class=&quot;left-right&quot;&gt;
  &lt;div class=&quot;left&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;right&quot;&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toGrid">
        <div class="title">网格布局</div>
        <p>一共4种，即row、row-inline和cell、cell-h的组合；如果网格布局用于form表单，则需添加form-s类，即class="grid form-s"。form-s类只是添加了一些表单控件和label的样式。</p>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <div class="grid grid-demo">
                <div class="title">row+cell</div>
                <div class="row">
                  <div class="cell">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                  <div class="cell">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                  <div class="cell">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                </div>

                <div class="title">row+cell-h</div>
                <div class="row">
                  <div class="cell-h">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                  <div class="cell-h">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                  <div class="cell-h">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                </div>

                <div class="title">row-inline+cell</div>
                <div class="row-inline">
                  <div class="cell">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                  <div class="cell">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                  <div class="cell">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                </div>

                <div class="title">row-inline+cell-h</div>
                <div class="row-inline">
                  <div class="cell-h">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                  <div class="cell-h">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                  <div class="cell-h">
                    <div class="seg"></div>
                    <div class="seg"></div>
                    <div class="seg"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;div class=&quot;grid&quot;&gt;
  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;cell&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cell&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cell&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;cell-h&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cell-h&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cell-h&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class=&quot;row-inline&quot;&gt;
    &lt;div class=&quot;cell&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cell&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cell&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;div class=&quot;row-inline&quot;&gt;
    &lt;div class=&quot;cell-h&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cell-h&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;cell-h&quot;&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
      &lt;div class=&quot;seg&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toButton">
        <div class="title">按钮</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <button class="btn" type="button">普通按钮</button>
              <button class="btn" type="button" disabled>禁用按钮</button>
              <button class="btn-ghost" type="button">Ghost按钮</button>
              <button class="btn-text" type="button">文本按钮</button>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;button class="btn" type="button"&gt;普通按钮&lt;/button&gt;
&lt;button class=&quot;btn&quot; type=&quot;button&quot; disabled&gt;Disabled按钮&lt;/button&gt;
&lt;button class=&quot;btn-ghost&quot; type=&quot;button&quot;&gt;Ghost按钮&lt;/button&gt;
&lt;button class=&quot;btn-text&quot; type=&quot;button&quot;&gt;文本按钮&lt;/button&gt;
</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toDropdown">
        <div class="title">下拉菜单</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <div class="menu-v">
                <ul>
                  <li><a>菜单一</a></li>
                  <li><a>菜单一</a></li>
                  <li><a>菜单一</a></li>
                  <li><a>菜单一</a></li>
                </ul>
              </div>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;div class=&quot;menu-dropdown&quot;&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a&gt;菜单一&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a&gt;菜单一&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a&gt;菜单一&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a&gt;菜单一&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toInput">
        <div class="title">文本输入框</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <input class="input" type="text" placeholder="输入文字">
              <div class="input-effect">
                <input id="I_S91j8km0" type="email">
                <label for="I_S91j8km0">Email</label>
                <hr>
              </div>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;input class=&quot;input&quot; type=&quot;text&quot; placeholder=&quot;输入文字&quot;&gt;
&lt;div class=&quot;input-effect&quot;&gt;
  &lt;input id=&quot;I_S91j8km0&quot; type=&quot;email&quot;&gt;
  &lt;label for=&quot;I_S91j8km0&quot;&gt;Email&lt;/label&gt;
  &lt;hr&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toRadio">
        <div class="title">单选框</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <div class="input-radio">
                <input type="radio" name="fee" id="I_S91j8km1" checked>
                <label for="I_S91j8km1">下一日费率</label>
              </div>
              <div class="input-radio">
                <input type="radio" name="fee" id="I_S91j8km2">
                <label for="I_S91j8km2">历史费率</label>
              </div>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;div class=&quot;input-radio&quot;&gt;
  &lt;input type=&quot;radio&quot; name=&quot;fee&quot; id=&quot;I_S91j8km1&quot; checked&gt;
  &lt;label for=&quot;I_S91j8km1&quot;&gt;下一日费率&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;input-radio&quot;&gt;
  &lt;input type=&quot;radio&quot; name=&quot;fee&quot; id=&quot;I_S91j8km2&quot;&gt;
  &lt;label for=&quot;I_S91j8km2&quot;&gt;历史费率&lt;/label&gt;
&lt;/div&gt;
</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toCheckbox">
        <div class="title">复选框</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <div class="input-checkbox">
                <input type="checkbox" id="I_S91j8km5" checked @change="toggleEv">
                <label for="I_S91j8km5">历史ev程序</label>
              </div>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;div class=&quot;input-checkbox&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;I_S91j8km5&quot; checked @change=&quot;toggleEv&quot;&gt;
  &lt;label for=&quot;I_S91j8km5&quot;&gt;历史ev程序&lt;/label&gt;
&lt;/div&gt;</code></pre>
              <pre><code class="lang-js">//监听checkbox改变事件
new Vue({
  methods: {
    toggleEv(ev) {
      console.log(ev.target.checked)
    }
  }
})</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toSwitch">
        <div class="title">开关</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <div class="input-switch">
                <input type="checkbox" name="checkbox" id="I_S91j8km4">
                <label for="I_S91j8km4">Off <span class="lever"></span> On</label>
              </div>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;div class=&quot;input-switch&quot;&gt;
  &lt;input type=&quot;checkbox&quot; name=&quot;checkbox&quot; id=&quot;I_S91j8km4&quot;&gt;
  &lt;label for=&quot;I_S91j8km4&quot;&gt;Off &lt;span class=&quot;lever&quot;&gt;&lt;/span&gt; On&lt;/label&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toSearch">
        <div class="title">搜索框</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-search></vue-search>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-search&gt;&lt;/vue-search&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toUpload">
        <div class="title">文件上传按钮</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <div>选择单个文件</div>
              <vue-upload-button name="st_file"></vue-upload-button>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-upload-button name=&quot;st_file&quot;&gt;&lt;/vue-upload-button&gt;</code></pre>
            </div>
          </div>

          <div class="content-cell">
            <div class="controls">
              <div>同时选择多个文件</div>
              <vue-upload-button multi></vue-upload-button>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-upload-button multi&gt;&lt;/vue-upload-button&gt;</code></pre>
            </div>
          </div>

          <div class="content-cell">
            <div class="controls">
              <div>选择文件后进一步处理，比如立即上传</div>
              <vue-upload-button name="st_file" @select="uploadFile" upload></vue-upload-button>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-upload-button name=&quot;st_file&quot; @select=&quot;uploadFile&quot; upload&gt;&lt;/vue-upload-button&gt;</code></pre>
              <pre><code class="lang-js">new Vue({
  methods: {
    uploadFile(file) {
      let form = new FormData()
      form.append('evFile', file)
    }
  }
})</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toTab">
        <div class="title">Tab页</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-tab :titles="['Vue','React','Angular']" @select="selectTab"></vue-tab>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-tab :titles=&quot;['Vue','React','Angular']&quot; @select=&quot;selectTab&quot;&gt;&lt;/vue-tab&gt;</code></pre>
              <pre><code class="lang-js">new Vue({
  methods: {
    selectTab(i) {
      console.log(i)
    }
  }
})</code></pre>
            </div>
          </div>

          <div class="content-cell">
            <div class="controls">
              <vue-tab :titles="['Vue','React','Angular']" :cur="1" @select="selectTab"></vue-tab>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-tab :titles=&quot;['Vue','React','Angular']&quot; :cur=&quot;1&quot; @select=&quot;selectTab&quot;&gt;&lt;/vue-tab&gt;</code></pre>
              <pre><code class="lang-js">//cur：默认选中的tab索引</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toBeautyAlert">
        <div class="title">弹出提示框</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <button class="btn" type="button" @click="alertOne">普通提示框</button>
              <button class="btn" type="button" @click="alertTwo">确认取消提示框</button>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-js">//一个页面只要引入一个beauty-alert，并且属于app的第一级子元素
new Vue({
  methods: {
    alertOne () {
      this.$refs.alert.show('这是提示内容')
    },
    alertTwo () {
      this.$refs.alert.show({
        text: '这是提示内容',
        type: 'confirm'
      })
    }
  }
})</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toCitySelector">
        <div class="title">省市选择器</div>
        <div class="content">
          <div class="controls">
            <vue-select-city></vue-select-city>
          </div>
          <div class="source-code blog">
            <pre><code class="lang-html">&lt;vue-select-city&gt;&lt;/vue-select-city&gt;</code></pre>
          </div>
        </div>
      </div>

      <div class="panel" id="toDatePicker">
        <div class="title">日期选择器</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-date-picker :min-year="2005" :max-year="2020" current="2017-1-1" name="start_date"></vue-date-picker>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-date-picker :min-year=&quot;2005&quot; :max-year=&quot;2020&quot; current=&quot;2017-1-1&quot; name=&quot;start_date&quot;&gt;&lt;/vue-date-picker&gt;</code></pre>
              <pre><code class="lang-js">//current：指定显示的日期，默认为当天
//min-year: 可选的最小年份
//max-year: 可选的最大年份
//name：input表单的name属性</code></pre>
            </div>
          </div>
          <div class="content-cell">
            <div class="controls">
              <div>带时间选择器</div>
              <vue-date-picker current="2017-1-1" name="end_date" timepicker :interval="1"></vue-date-picker>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-date-picker current=&quot;2017-1-1&quot; name=&quot;end_date&quot; timepicker :interval=&quot;1&quot;&gt;&lt;/vue-date-picker&gt;</code></pre>
              <pre><code class="lang-js">//timepicker：指定是否可以选择时间
//interval：指定时间的间隔，比如1代表每隔1小时，最小为0.5</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toCrop">
        <div class="title">图片裁剪</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-crop :crop-width="400" :crop-height="300"></vue-crop>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-crop :crop-width=&quot;400&quot; :crop-height=&quot;300&quot;&gt;&lt;/vue-crop&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toEditor">
        <div class="title">富文本编辑器</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-html-editor></vue-html-editor>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-html-editor&gt;&lt;/vue-html-editor&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toPureSelect">
        <div class="title">纯CSS实现的Select</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-pure-select name="diploma" :elems="diploma"></vue-pure-select>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-pure-select name=&quot;diploma&quot; :elems=&quot;diploma&quot;&gt;&lt;/vue-pure-select&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toReflex">
        <div class="title">图片倒影</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-img-reflex src="/img/loli.jpg"></vue-img-reflex>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-img-reflex src=&quot;/img/loli.jpg&quot;&gt;&lt;/vue-img-reflex&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toPagination">
        <div class="title">分页</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-pagination :count-of-page="10" :total="100" @update="getSlice"></vue-pagination>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-pagination :count-of-page=&quot;10&quot; :total=&quot;100&quot; @update=&quot;getSlice&quot;&gt;&lt;/vue-pagination&gt;</code></pre>
              <pre><code class="lang-js">//count-of-page: 每页条数
//total: 总条数
//@update: 返回一个数组: [开始索引, 结束索引)，表示当前页的记录的开始索引和结束索引
</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toTable">
        <div class="title">表格</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-table style="width: 100%" :source="buildings" :columns="buildingColumns" :default-columns="[]" :count-of-page="5" checkbox @check="getSelectedBuildings">
                <template slot="age" scope="scope">
                  <div>修改列的默认显示：{{scope.value.age}}</div>
                </template>
                <template slot="operation" scope="scope">
                  <button class="btn" type="button">{{scope.value.name}}</button>
                </template>
              </vue-table>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-table :source=&quot;buildings&quot; :columns=&quot;buildingColumns&quot; :default-columns=&quot;[]&quot; :count-of-page=&quot;5&quot; simple checkbox fixed-head @check=&quot;getSelectedBuildings&quot; @click-row=&quot;clickRow&quot; keep-sort&gt;
   &lt;template slot=&quot;age&quot; scope=&quot;scope&quot;&gt;
      &lt;div&gt;修改列的默认显示：{ {scope.value.age} }&lt;/div&gt;
   &lt;/template&gt;
   &lt;template slot=&quot;operation&quot; scope=&quot;scope&quot;&gt;
       &lt;button class=&quot;btn&quot; type=&quot;button&quot;&gt;{ {scope.value.name} }&lt;/button&gt;
   &lt;/template&gt;
&lt;/vue-table&gt;</code></pre>
              <pre><code class="lang-js">//columns: 指定显示的列，列可排序时，sortable属性为true，自定义的列的custom为true
//default-columns: 默认显示的列，不传则与columns相同
//count-of-page: 每页显示的条数
//simple: 简化版表格
//checkbox: 显示可勾选的列
//fixed-head: 固定表头，只在simple模式下有效
//@check: 数组，获取勾选的记录，全选表示选中当前页的所有条数
//@click-row: 行点击事件，可以获取点击行的对象
//keep-sort：当数据源变化时保持排序状态不变
new Vue({
  data: {
    buildings: [
      {
        name: '一公寓',
        layers: 5,
        age: 80
      },
      {
        name: '二公寓',
        layers: 10,
        age: 40
      },
      {
        name: '研究生公寓',
        layers: 6,
        age: 3
      }
    ],
    buildingColumns: [
      {
        title: '楼栋名称',
        prop: 'name'
      },
      {
        title: '层数',
        prop: 'layers',
        sortable: true
      },
      {
        title: '楼龄',
        prop: 'age'
      },
      {
        title: '操作',
        custom: true,
        prop: 'operation'
      }
    ]
  }
})</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toPreloader">
        <div class="title">欲加载动画</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <div class="progress">
                <div class="indeterminate"></div>
              </div>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;div class=&quot;progress&quot;&gt;
  &lt;div class=&quot;indeterminate&quot;&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toLoading">
        <div class="title">加载提示</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-loading></vue-loading>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-loading&gt;&lt;/vue-loading&gt;</code></pre>
            </div>
          </div>

          <div class="content-cell">
            <div class="controls">
              <vue-loading text="正在加载中"></vue-loading>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-loading text=&quot;正在加载中&quot;&gt;&lt;/vue-loading&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toProgressBar">
        <div class="title">进度条</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-progress-bar :value="0.5"></vue-progress-bar>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-progress-bar :value=&quot;0.5&quot;&gt;&lt;/vue-progress-bar&gt;</code></pre>
              <pre><code class="lang-js">//value为[0, 1]之间的数字</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toPopupWindow">
        <div class="title">弹出窗口</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <button class="btn" type="button" @click="bShowWindow = true">点击弹出窗口</button>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-popup-window title=&quot;这是标题&quot; :show=&quot;bShowWindow&quot; @close=&quot;bShowWindow = false&quot;&gt;
   &lt;form class=&quot;form&quot; slot=&quot;content&quot;&gt;这是内容&lt;/form&gt;
&lt;/vue-popup-window&gt;</code></pre>
              <pre><code class="lang-js">new Vue({
  data: {
    bShowWindow: false
  }
})</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toMessage">
        <div class="title">消息提示</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <button class="btn" type="button" @click="msgSuccess">成功</button>
              <button class="btn" type="button" @click="msgWarn">警告</button>
              <button class="btn" type="button" @click="msgInfo">提示</button>
              <button class="btn" type="button" @click="msgError">错误</button>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;button class=&quot;btn&quot; type=&quot;button&quot; @click=&quot;msgSuccess&quot;&gt;成功&lt;/button&gt;
&lt;button class=&quot;btn&quot; type=&quot;button&quot; @click=&quot;msgWarn&quot;&gt;警告&lt;/button&gt;
&lt;button class=&quot;btn&quot; type=&quot;button&quot; @click=&quot;msgInfo&quot;&gt;提示&lt;/button&gt;
&lt;button class=&quot;btn&quot; type=&quot;button&quot; @click=&quot;msgError&quot;&gt;错误&lt;/button&gt;</code></pre>
              <pre><code class="lang-js">new Vue({
  methods: {
    msgSuccess() {
      this.success('成功')
    },
    msgWarn() {
      this.warn('警告')
    },
    msgInfo() {
      this.info('提示')
    },
    msgError() {
      this.error('错误')
    }
  }
})</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toSelect2">
        <div class="title">下拉列表</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <vue-select :source="cars" @update="getCars"></vue-select>
              <vue-select :source="cars" :current="bought2" @update="getCars"></vue-select>
            </div>
            <div class="controls">
              <vue-select :source="cars" :current="bought2" @update="getCars" searchable></vue-select>
              <vue-select :source="cars" @update="getCars" disabled></vue-select>
            </div>
            <div class="controls">
              <vue-select :source="cars" @update="getCars" multiple></vue-select>
              <vue-select :source="cars" :current="bought" @update="getCars" multiple></vue-select>
            </div>
            <div class="controls">
              <vue-select :source="cars" :current="bought" @update="getCars" multiple searchable customizable></vue-select>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-select :source=&quot;cars&quot; @update=&quot;getCars&quot;&gt;&lt;/vue-select&gt;
&lt;vue-select :source=&quot;cars&quot; :current=&quot;bought2&quot; @update=&quot;getCars&quot;&gt;&lt;/vue-select&gt;
&lt;vue-select :source=&quot;cars&quot; :current=&quot;bought2&quot; @update=&quot;getCars&quot; searchable&gt;&lt;/vue-select&gt;
&lt;vue-select :source=&quot;cars&quot; @update=&quot;getCars&quot; disabled&gt;&lt;/vue-select&gt;
&lt;vue-select :source=&quot;cars2&quot; @update=&quot;getCars&quot; multiple&gt;&lt;/vue-select&gt;
&lt;vue-select :source=&quot;cars2&quot; :current=&quot;bought&quot; @update=&quot;getCars&quot; multiple&gt;&lt;/vue-select&gt;
&lt;vue-select :source=&quot;cars2&quot; :current=&quot;bought&quot; @update=&quot;getCars&quot; multiple searchable customizable&gt;&lt;/vue-select&gt;</code></pre>
              <pre><code class="lang-js">//source：数据源，数组
//current：默认选中，对象
//disabled：禁用状态
//searchable：下拉列表可搜索
//multiple：可多选，此时，current应该是一个数组
//customizable：可自定义选项，只有为multiple时有效
//update：返回选中的项，{}，multiple时返回数组
new Vue({
  data: {
    cars: [
      {
        name: '布加迪',
        value: 'Bugatti'
      },
      {
        name: '法拉利',
        value: 'Ferrari'
      },
      {
        name: '兰博基尼',
        value: 'Lamborghini'
      },
      {
        name: '迈凯伦',
        value: 'McLaren'
      }],
    bought: [
      {
        name: '布加迪',
        value: 'Bugatti'
      },
      {
        name: '法拉利',
        value: 'Ferrari'
      },
      {
        name: '五菱',
        value: 'fiveLing',
        custom: true
      }
    ],
    bought2: {
      name: '布加迪',
      value: 'Bugatti'
    }
  },
  methods: {
    getCars(cars) {
      console.log(cars)
    }
  }
})</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toPwdStrength">
        <div class="title">密码强度</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <input class="input" type="text" v-model="password" placeholder="输入密码测试强度">
              <vue-pwd-strength :password="password"></vue-pwd-strength>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-pwd-strength password=&quot;mycapital&quot;&gt;&lt;/vue-pwd-strength&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toTreeList">
        <div class="title">树形列表</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <ul>
                <vue-tree-list :source="items" @select="selectItem" @unselect="unselectItem" :trigger="trigger"></vue-tree-list>
              </ul>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;ul&gt;
    &lt;vue-tree-list :source=&quot;items&quot; @select=&quot;selectItem&quot; @unselect=&quot;unselectItem&quot; :trigger=&quot;trigger&quot;&gt;&lt;/vue-tree-list&gt;
&lt;/ul&gt;</code></pre>
              <pre><code class="lang-js">//source: 数据源
//select: 勾选节点时触发，获取勾选的项
//unselect: 取消勾选时触发，获取取消勾选的项
//trigger: 更新整棵树的状态
new Vue({
  data: {
    trigger: false,
    items: {
      name: 'IT',
      children: [
        {
          name: 'Front End',
          children: [
            {
              name: 'Lib',
              children: [
                {
                  name: 'Vue'
                },
                {
                  name: 'React'
                },
                {
                  name: 'Angular'
                }
              ]
            }
          ]
        },
        {
          name: 'Back End'
        }
      ]
    }
  },
  methods: {
    selectItem(items) {
      console.log(items)
      this.trigger = !this.trigger
    },
    unselectItem(items) {
      console.log(items)
      this.trigger = !this.trigger
    }
  }
})</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toSubmitButton">
        <div class="title">提交按钮</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <button class="btn" type="button" @click="loadingSubmit = !loadingSubmit">{{loadingSubmit ? '暂停' : '开始'}}提交</button>
              <vue-submit-button text="提交" :loading="loadingSubmit" type="button"></vue-submit-button>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-submit-button text=&quot;提交&quot; :loading=&quot;loadingSubmit&quot; type=&quot;submit&quot;&gt;&lt;/vue-submit-button&gt;</code></pre>
              <pre><code class="lang-js">//text: 按钮显示的文字
//loading: 控制加载显示的变量
//type: 按钮的类型，默认为submit，当为button时，可以在组件上监听@click.native事件</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toPwdValidity">
        <div class="title">密码验证</div>
        <div class="content">
          <div class="content-cell">
            <div class="controls">
              <div class="pwd-validity-demo">
                <input class="input" type="password" v-model="password">
                <vue-pwd-validity :password="password"></vue-pwd-validity>
              </div>
            </div>
            <div class="source-code blog">
              <pre><code class="lang-html">&lt;vue-pwd-validity :password=&quot;password&quot;&gt;&lt;/vue-pwd-validity&gt;</code></pre>
            </div>
          </div>
        </div>
      </div>

      <div class="panel" id="toCarousel">
        <div class="title">走马灯</div>
        <div class="content">
          <div class="controls">
            <vue-carousel></vue-carousel>
          </div>
          <div class="source-code blog">
            <pre><code class="lang-html">&lt;vue-carousel&gt;&lt;/vue-carousel&gt;</code></pre>
          </div>
        </div>
      </div>

      <div class="panel" id="toCollapse">
        <div class="title">收缩菜单</div>
        <div class="content">
          <div class="controls">
            <vue-collapse></vue-collapse>
          </div>
          <div class="source-code blog">
            <pre><code class="lang-html">&lt;vue-collapse&gt;&lt;/vue-collapse&gt;</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
