*,
*::after,
*::before {
  box-sizing: border-box;
  max-height: 999999px;
}
html {
  background: #FFF;
  font-family: "Hiragino Sans GB", Microsoft YaHei, "宋体", Arial, sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /*user-select: none;*/
}
html.small {
  font-size: 125%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  color: black;
  font-size: 1.6rem;
}
blockquote,
q {
  quotes: none;
}
a {
  color: #00B5E5;
  cursor: pointer;
}
a,
a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
p {
  text-indent: 2em;
}
:focus {
  outline: 0;
}
input,
select,
textarea,
button {
  font-family: "Hiragino Sans GB", Microsoft YaHei, "宋体", Arial, sans-serif;
  outline: none;
}
input::-ms-clear {
  display: none;
}
textarea {
  resize: none;
}
select::-ms-expand {
  display: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
.h1 {
  font-size: 2.4rem;
}
.h1-lg {
  font-size: 4.5rem;
  font-weight: lighter;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.8rem;
  margin: 20px 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}
small {
  color: #333;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.content-text p {
  text-indent: 0;
  line-height: 1.5em;
  color: #333;
}
.content-text img {
  width: 100%;
  margin: 20px auto;
}
/*plugins*/
/*UEditor*/
.edui-combobox .edui-button-spacing {
  display: none;
}
#e-editor p {
  text-indent: 0;
}
label.edui-combobox-item-label {
  display: inline-block;
  margin-bottom: 0;
}
/*baidu map*/
.anchorBL {
  display: none;
}
.box {
  width: 410px;
  margin: 0 auto;
  background-color: #C8C8C8;
  font-size: 1.6rem;
}
.box-tab {
  margin-top: 20px;
  background-color: transparent;
}
.box-login {
  position: relative;
  width: 420px;
  height: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  padding: 20px 60px 30px;
  margin: 10% auto;
}
.box-tag {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 5px;
  height: 40px;
  line-height: 38px;
  padding: 0 20px;
}
.box-normal {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
}
.box-m {
  background-color: #fff;
  color: #333;
  font-size: 16px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  margin-bottom: 10px;
}
.submitbtn {
  display: block;
  width: 100%;
  height: 42px;
  line-height: 42px;
  /*background-color: #FD9001;*/
  border: none;
  border-radius: 6px;
  font-size: 1.8rem;
  font-weight: 500;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  color: #000;
}
.button {
  display: inline-block;
  width: 120px;
  height: 100%;
  border: none;
  background-color: #FD9001;
  text-align: center;
  line-height: 100%;
}
.button-title {
  height: 50px;
  line-height: 50px;
  padding: 0;
  border-radius: 0;
}
.btn {
  display: inline-block;
  height: 42px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.btn-login {
  background-color: #333;
  color: #fff;
  font-size: 1.8rem;
}
.btn-submit {
  display: block;
  margin: 0 auto;
  height: 36px;
  padding: 0 10px;
}
.btn-inactive {
  background-color: #b2b2b2;
}
.btn-disable {
  background-color: #b2b2b2;
  cursor: default;
}
.btn-close {
  cursor: pointer;
}
.btn-close svg {
  width: 2rem;
  height: 2rem;
}
.btn-close svg use {
  color: #bfbfbf;
}
.btn-close-banner svg {
  width: 24px;
  height: 24px;
}
.btn-close-banner svg use {
  color: #fff;
}
.btn-toggle {
  background-color: transparent;
  border: 1px solid #999;
  transition: color 0.5s, background-color 0.5s;
}
.btn-follow {
  width: 82px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  background-color: #F55353;
  border-radius: 3px;
}
.btn-follow.followed {
  background-color: #b2b2b2;
}
.btn-sm {
  border-radius: 3px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 1.4rem;
}
.btn-blue-sm-m {
  width: 100px;
  height: 35px;
  font-size: 14px;
  color: #fff;
  background-color: #1bb4dc;
}
.btn-blue-lg-m {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 0;
  color: #fff;
  background-color: #1bb4dc;
}
.btn-red-hollow {
  width: 240px;
  height: 80px;
  line-height: 78px;
  background-color: transparent;
  border: 1px solid #F06045;
  color: #F06045;
  font-size: 32px;
}
.banner {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  z-index: 40;
}
.banner-blk {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.banner-wh {
  background-color: #fff;
  color: #333;
}
.banner-m-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 101px;
  border-top: 1px solid #d9d9d9;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .banner-download-app {
    bottom: 0;
    padding: 30px 0 30px 30px;
  }
  .banner-download-app .logo {
    width: 60px;
    height: 60px;
  }
  .banner-download-app .slogan {
    font-size: 1.6rem;
    color: #333;
    line-height: 60px;
    margin-left: 20px;
  }
  .banner-download-app .btn-close {
    height: 60px;
    padding: 10px 20px 10px;
  }
  .banner-download-app .btn-link {
    width: 180px;
    height: 60px;
    line-height: 60px;
    margin-left: 20px;
    font-size: 1.5rem;
  }
}
.counter {
  position: relative;
  float: right;
  width: 130px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
}
.counter > * {
  display: inline-block;
  float: left;
  height: 100%;
}
.counter a {
  width: 39px;
  line-height: 31px;
  color: #d9d9d9;
  text-align: center;
  font-size: 30px;
}
.counter input {
  width: 50px;
  line-height: 30px;
  border: none;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  text-align: center;
  vertical-align: top;
  padding: 0;
  font-size: 20px;
  border-radius: 0;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .above {
  position: relative;
  background-color: #333;
  padding: 30px 0 20px;
}
.footer .below {
  text-align: center;
  background-color: #000;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #808080;
}
.footer .below a {
  color: #808080;
}
.footer .menu {
  position: relative;
  left: 70px;
  width: 570px;
  margin: 0 auto;
}
.footer .menu li {
  margin-top: 10px;
}
.footer .menu a {
  color: #808080;
  font-size: 1.4rem;
}
.footer .menu > ul > li {
  text-align: left;
  color: #fff;
}
.footer .menu > ul > li > ul {
  margin-top: 20px;
}
.footer .menu .logo {
  position: absolute;
  left: -175px;
  top: 16px;
  width: 60px;
  text-align: center;
}
.footer .menu .logo svg {
  width: 60px;
  height: 52px;
}
.footer .menu .logo span {
  color: #fff;
  font-size: 1.4rem;
}
@media only screen and (max-width: 768px) {
  .footer .menu .logo {
    left: -140px;
  }
  .footer .menu .logo span {
    position: relative;
    top: -10px;
    font-size: 1rem;
  }
}
.formrow {
  height: 42px;
  margin: 20px 0;
  /*border-bottom: 1px solid #dfdfdf;*/
}
.label {
  display: inline-block;
  width: 100px;
  text-align: right;
}
.input {
  height: 42px;
  line-height: 42px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  font-size: 1.2rem;
  color: #333;
  letter-spacing: 1px;
  padding-left: 5px;
  background-color: transparent;
}
.input-width-v1 {
  width: 750px;
}
.input:focus {
  border-color: #333;
  color: #333;
}
.input-radius {
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 6px;
}
.input-file-wrap {
  position: relative;
  width: 330px;
  height: 250px;
  background-color: #f3f3f3;
  text-align: center;
}
.input-file-wrap input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
}
.input-file-wrap button {
  font-family: SimSun sans-serif;
  border: 1px dashed #A9A9A9;
  color: #A9A9A9;
  font-size: 12rem;
  width: 110px;
  height: 110px;
  line-height: 110px;
  margin: 50px auto 0;
  padding: 0;
  background: transparent;
}
.input-file-wrap span {
  display: block;
  margin: 20px auto 0;
  font-size: 1.8rem;
  color: #CCC;
  width: auto;
  text-align: center;
}
.input-file-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.input-file-wrap-button {
  position: relative;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.input-file-wrap-button input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.input-radio {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  vertical-align: middle;
}
.input-radio + label {
  display: inline-block;
  margin-right: 20px;
}
.input-m {
  height: 20px;
  line-height: 20px;
  border: none;
  padding: 0;
  font-size: 14px;
  color: #333;
}
.select {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 4px;
}
.select-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-md {
  height: 30px;
  border-radius: 3px;
}
.pure-select {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  position: relative;
  cursor: default;
}
.pure-select dt {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 22px;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  padding: 4px 20px 4px 6px;
  vertical-align: middle;
}
.pure-select dt:after {
  content: '▲';
  position: absolute;
  right: 5px;
  top: 3px;
  display: inline-block;
  opacity: .6;
  font-size: 12px;
  color: #000;
  transition: transform .2s ease;
}
.pure-select dd {
  position: absolute;
  top: calc(99%);
  left: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  background: #f7f7f7;
  visibility: hidden;
  transform: translateY(-1em);
  opacity: 0;
  transition: visibility 200ms ease, opacity 200ms ease, transform 200ms ease;
  z-index: 10;
}
.pure-select label {
  cursor: pointer;
  display: block;
  padding: 4px 8px;
  white-space: nowrap;
}
.pure-select label:hover {
  color: #333;
  background-color: #f0f0f2;
}
.pure-select input {
  display: none;
}
.pure-select input + span {
  display: none;
}
.pure-select input:checked + span {
  display: inline-block;
}
.pure-select:hover dt:after {
  transform: rotate(180deg);
}
.pure-select:hover dd {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.select-svg {
  position: relative;
  width: 100px;
  height: 45px;
}
.select-svg > select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding-left: 10px;
  color: #333;
  background: transparent;
  z-index: 20;
  cursor: pointer;
}
.select-svg svg {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 14px;
  height: 9px;
}
.select-svg svg use {
  color: #333;
}
.sweet-overlay {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000;
}
.sweet-alert {
  background-color: white;
  width: 420px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}
@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
  }
}
.sweet-alert h2 {
  color: #575757;
  text-transform: none;
  position: relative;
  margin: 20px 0;
  padding: 0;
  line-height: 40px;
  display: block;
}
.sweet-alert p {
  color: #797979;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  float: none;
  margin: 0;
  padding: 0;
}
.sweet-alert fieldset {
  border: 0;
  position: relative;
}
.sweet-alert .sa-error-container {
  background-color: #F1F1F1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  transition: padding 0.15s, max-height 0.15s;
}
.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  transition: padding 0.25s, max-height 0.25s;
}
.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #EA7D7D;
  color: white;
  line-height: 24px;
  margin-right: 3px;
}
.sweet-alert .sa-error-container p {
  display: inline-block;
}
.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: 50% 50%;
  transition: all 0.1s;
}
.sweet-alert .sa-input-error::before,
.sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #F06E57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -9px;
}
.sweet-alert .sa-input-error::before {
  transform: rotate(-45deg);
}
.sweet-alert .sa-input-error::after {
  transform: rotate(45deg);
}
.sweet-alert .sa-input-error.show {
  opacity: 1;
  transform: scale(1);
}
.sweet-alert input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D7D7D7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  transition: all 0.3s;
}
.sweet-alert input:focus {
  outline: 0;
  box-shadow: 0 0 3px #C4E6F5;
  border: 1px solid #B4DBED;
}
.sweet-alert input:focus::-moz-placeholder {
  transition: opacity .3s .03s ease;
  opacity: 0.5;
}
.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity .3s .03s ease;
  opacity: 0.5;
}
.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity .3s .03s ease;
  opacity: 0.5;
}
.sweet-alert input::-moz-placeholder {
  color: #BDBDBD;
}
.sweet-alert input:-ms-input-placeholder {
  color: #BDBDBD;
}
.sweet-alert input::-webkit-input-placeholder {
  color: #BDBDBD;
}
.sweet-alert.show-input input {
  display: block;
}
.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative;
}
.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden;
}
.sweet-alert button {
  background-color: #8CD4F5;
  color: white;
  border: 0;
  box-shadow: none;
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 10px;
  line-height: 20px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}
.sweet-alert button:focus {
  outline: 0;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}
.sweet-alert button:hover {
  background-color: #7ECFF4;
}
.sweet-alert button:active {
  background-color: #5DC2F1;
}
.sweet-alert button.cancel {
  background-color: #C1C1C1;
}
.sweet-alert button.cancel:hover {
  background-color: #B9B9B9;
}
.sweet-alert button.cancel:active {
  background-color: #A8A8A8;
}
.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0 0 2px, rgba(0, 0, 0, 0.0470588) 0 0 0 1px inset !important;
}
.sweet-alert button[disabled] {
  opacity: .6;
  cursor: default;
}
.sweet-alert button.confirm[disabled] {
  color: transparent;
}
.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.sweet-alert button::-moz-focus-inner {
  border: 0;
}
.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important;
}
.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px;
}
.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 3px solid gray;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
  transform: scale(0.7);
}
.sweet-alert .sa-icon.sa-error {
  border-color: #ED4A4A;
}
.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block;
}
.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 3px;
  width: 47px;
  background-color: #ED4A4A;
  display: block;
  top: 38px;
  border-radius: 2px;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  transform: rotate(45deg);
  left: 17px;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  transform: rotate(-45deg);
  right: 16px;
}
.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86;
}
.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86;
}
.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1;
}
.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1;
}
.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1;
}
.sweet-alert .sa-icon.sa-success {
  border-color: #333;
}
.sweet-alert .sa-icon.sa-success::before,
.sweet-alert .sa-icon.sa-success::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-success::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  transform: rotate(-45deg);
  transform-origin: 60px 60px;
}
.sweet-alert .sa-icon.sa-success::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  transform: rotate(-45deg);
  transform-origin: 0 60px;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 3px solid rgba(51, 51, 51, 0.5);
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}
.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-success .sa-line {
  height: 3px;
  background-color: #333;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 13px;
  top: 46px;
  transform: rotate(45deg);
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 7px;
  top: 38px;
  transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: 0;
  background: center center no-repeat;
}
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes slideFromTop {
  0% {
    top: 0;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideToTop {
  0% {
    top: 50%;
  }
  100% {
    top: 0;
  }
}
@keyframes slideFromBottom {
  0% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideToBottom {
  0% {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}
.showSweetAlert[data-animation=pop] {
  animation: showSweetAlert 0.3s;
}
.showSweetAlert[data-animation=none] {
  animation: none;
}
.showSweetAlert[data-animation=slide-from-top] {
  animation: slideFromTop 0.3s;
}
.showSweetAlert[data-animation=slide-from-bottom] {
  animation: slideFromBottom 0.3s;
}
.hideSweetAlert[data-animation=pop] {
  animation: hideSweetAlert 0.2s;
}
.hideSweetAlert[data-animation=none] {
  animation: none;
}
.hideSweetAlert[data-animation=slide-from-top] {
  animation: slideToTop 0.4s;
}
.hideSweetAlert[data-animation=slide-from-bottom] {
  animation: slideToBottom 0.3s;
}
.sa-button-container {
  margin-bottom: 20px;
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
.animateSuccessTip {
  animation: animateSuccessTip 0.75s;
}
.animateSuccessLong {
  animation: animateSuccessLong 0.75s;
}
.sa-icon.sa-success.animate::after {
  animation: rotatePlaceholder 4.25s ease-in;
}
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
.animateErrorIcon {
  animation: animateErrorIcon 0.5s;
}
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
.animateXMark {
  animation: animateXMark 0.5s;
}
@keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}
.pulseWarning {
  animation: pulseWarning 0.75s infinite alternate;
}
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}
.pulseWarningIns {
  animation: pulseWarningIns 0.75s infinite alternate;
}
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
}
.la-ball-fall {
  display: block;
  font-size: 0;
  color: #FFF;
}
.la-ball-fall.la-dark {
  color: #333;
}
.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}
.la-ball-fall {
  width: 54px;
  height: 18px;
}
.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  animation: ball-fall 1s ease-in-out infinite;
}
.la-ball-fall > div:nth-child(1) {
  animation-delay: -200ms;
}
.la-ball-fall > div:nth-child(2) {
  animation-delay: -100ms;
}
.la-ball-fall > div:nth-child(3) {
  animation-delay: 0s;
}
.la-ball-fall.la-sm {
  width: 26px;
  height: 8px;
}
.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px;
}
.la-ball-fall.la-2x {
  width: 108px;
  height: 36px;
}
.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px;
}
.la-ball-fall.la-3x {
  width: 162px;
  height: 54px;
}
.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px;
}
@keyframes ball-fall {
  0% {
    opacity: 0;
    transform: translateY(-145%);
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(145%);
  }
}
.svg use {
  color: #bfbfbf;
}
.svg use.focus {
  color: #f24b5f;
}
.svg-share {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.svg-like {
  width: 26px;
  height: 24px;
  cursor: pointer;
}
.sidebar {
  width: 280px;
  text-align: center;
}
.sidebar .item {
  display: block;
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #e5e5e5;
  color: #333;
  font-size: 1.6rem;
}
.sidebar .item svg {
  width: 20px;
  height: 20px;
  vertical-align: sub;
  margin-right: 16px;
  margin-left: 20px;
}
.sidebar .item:last-child {
  border-bottom: none;
}
.sidebar .item.focus {
  background-color: #333;
  color: #fff;
}
.sidebar-v2 {
  float: left;
  width: 280px;
  min-height: 100%;
  background-color: #333;
  padding: 30px 0 30px 30px;
  text-align: center;
}
.sidebar-v2 a {
  display: inline-block;
  color: #fff;
}
.sidebar-v2 .menu {
  line-height: normal;
}
.sidebar-v2 .menu .item {
  border-radius: 5px 0 0 5px;
  margin-left: 0;
}
.sidebar-v2 .menu .item a {
  line-height: 60px;
  font-size: 2.2rem;
}
.sidebar-v2 .menu .item.focus {
  background-color: #fff;
}
.sidebar-v2 .menu .item.focus a {
  color: #333;
}
.sidebar-v2 .sub-menu {
  padding-bottom: 10px;
}
.sidebar-v2 .sub-menu .item a {
  font-size: 1.8rem;
  line-height: normal;
  width: auto;
  padding: 10px;
  border-radius: 5px;
}
.sidebar-v2 .sub-menu .item.focus a {
  background-color: #333;
  color: #fff;
}
.tabs {
  overflow: hidden;
}
.tab {
  float: left;
  width: 80px;
  color: #bfbfbf;
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;
  border-bottom: 3px solid #bfbfbf;
  cursor: pointer;
}
.tab-focus {
  color: #333;
  border-color: #333;
}
.tag {
  display: inline-block;
  border-radius: 20px;
  padding: 9px 15px;
  line-height: 14px;
  cursor: pointer;
  margin-left: 20px;
}
.tag-black {
  background-color: #333;
  color: #fff;
}
.tag-white {
  color: #333;
  border: 1px dashed #A9A9A9;
  margin: 20px 0 20px 20px;
}
.table {
  border-collapse: separate;
  /*border-spacing: 12px 18px;*/
  border-spacing: 0 10px;
  width: 100%;
}
.table * {
  text-align: center;
}
.table tr {
  background-color: #FFF;
}
.tip-question {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  background-color: #e5e5e5;
  cursor: pointer;
}
.tip-question .tip-text {
  position: absolute;
  top: -36px;
  left: -44px;
  padding: 6px 8px;
  font-size: 1.2rem;
  line-height: 12px;
  color: #333;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 3px;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
}
.tip-question .triangle-with-shadow {
  position: absolute;
  top: 24px;
  left: 42px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.tip-question .triangle-with-shadow:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: rotate(45deg);
  /* Prefixes... */
  top: -5px;
  left: 5px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}
.tip-question:hover .tip-text {
  display: block;
}
hr {
  height: 1px;
  border: none;
  border-top: 1px solid #000;
  opacity: 0.3;
}
.close {
  font-family: tahoma, Arial, sans-serif;
  position: absolute;
  top: 5px;
  right: 15px;
  color: red;
  cursor: pointer;
  font-size: 5rem;
  font-weight: bold;
}
.modal {
  position: relative;
  width: 600px;
  height: 480px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  padding: 20px;
  background-color: #FFF;
  z-index: 11;
}
.title {
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #FD9001;
  color: #000;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.menu {
  line-height: 36px;
}
.menu > a {
  font-family: "Helvetic Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: 2px;
}
.menu > * {
  margin-left: 30px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.load-animation {
  width: 81px;
  height: 81px;
  z-index: 99;
}
.load-animation-center {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
}
.load-animation.rotate-infinite {
  animation: rotate-loading 0.75s infinite;
}
.no-data {
  text-align: center;
  color: #bfbfbf;
  font-size: 1.4rem;
  margin: 10px 0;
}
.qrcode-sm {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
}
.plus-minus {
  display: inline-block;
  line-height: 30px;
  margin: -5px 10px 0;
  font-family: SimSun sans-serif;
  font-size: 6rem;
  color: #A9A9A9;
  vertical-align: middle;
  cursor: pointer;
}
.time-m-sm {
  font-size: 14px;
  color: #bfbfbf;
}
.title-m-sm {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
.m-row {
  height: 55px;
  line-height: 55px;
  padding: 0 15px;
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
.label-m {
  font-size: 14px;
  color: #333;
}
.text-arrow-r-m:after {
  content: '';
  position: absolute;
  top: 2px;
  right: -12px;
  display: block;
  width: 8px;
  height: 14px;
  background: url(/img/arrow-right.png) no-repeat;
  background-size: 8px 14px;
}
.text-gray-m {
  padding: 15px 0 10px 10px;
  font-size: 12px;
  color: #bfbfbf;
}
.bg-body-main {
  background: url(../img/bg.jpg) fixed;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
.flex {
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*height: auto;*/
}
.flex-normal {
  justify-content: flex-start;
}
.flex-normal > * {
  margin-right: 20px;
}
.flex-average > * {
  -webkit-box-flex: 1;
  width: 1%;
  flex-grow: 1;
  text-align: center;
}
.flex-gap {
  justify-content: space-between;
}
.block-a-full {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}
.navigator {
  text-align: center;
  height: 80px;
  line-height: 80px;
  background-color: #F06045;
  font-size: 24px;
}
.navigator a {
  color: #fff;
}
.navigator a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay-right {
  left: 100%;
  transition: left .5s;
}
.overlay-left {
  left: -100%;
  transition: left .5s;
}
.overlay-openinbrowser {
  color: #fff;
  font-size: 20px;
  padding-top: 62px;
  padding-left: 40px;
  z-index: 99;
}
.overlay-openinbrowser img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 66px;
}
.fullwidth {
  width: 100%;
}
.fullheight {
  height: 100%;
}
.disblock {
  display: block;
}
.disnone {
  display: none;
}
.disinline {
  display: inline;
}
.disinlineblk {
  display: inline-block;
}
.hvcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pointercursor {
  cursor: pointer;
}
.textright {
  text-align: right;
}
.textcenter {
  text-align: center;
}
.textleft {
  text-align: left;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.clearfix {
  clear: both;
}
.bordernone {
  border: none;
}
.padding-top-1 {
  padding-top: 1px;
}
.padding-bottom-1 {
  padding-bottom: 1px;
}
.margin-r-40 {
  margin-right: 40px;
}
.margin-r-20 {
  margin-right: 20px;
}
.pos-rel {
  position: relative;
}
.border-t {
  border-top: 1px solid #e5e5e5;
}
.border-b {
  border-bottom: 1px solid #e5e5e5;
}
.clear-padding {
  padding: 0;
}
.scale-half {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}
