.container .box-normal {
  width: 21%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.container .box-normal:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.container .box-normal:hover .block-a-full {
  color: #fff;
}
