.container {
  overflow: hidden;
}
.page-index .container .box-normal {
  width: 21%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.page-article .container header .btn {
  height: 60px;
  line-height: 60px;
  font-size: 20px;
}
.page-article .container .list .box-normal {
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.page-article .container article {
  width: 680px;
  margin: 0 auto;
  padding: 20px 20px 20px 40px;
}
.page-article .container article ul {
  list-style-type: disc;
}
.page-article .container article li {
  line-height: 26px;
}
.page-article .container article blockquote {
  border-left: 10px solid rgba(102, 128, 153, 0.075);
  background-color: rgba(102, 128, 153, 0.05);
  padding: 15px 20px;
  color: #2c3f51;
  margin-bottom: 18px;
}
