<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Coin</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/vendor/vue.js"></script>
  <script src="/js/coin.bundle.js" defer></script>
</head>
<body class="page-coin">
<div id="app">
  <table class="table">
    <caption>基准资产：{{baseAsset}}元，总资产：{{asset}} 元</caption>
    <thead>
    <tr>
      <th>Coin</th>
      <th>Cost</th>
      <th>基准价</th>
      <th>Price</th>
      <th>Count</th>
      <th>亏损</th>
      <th>涨幅</th>
      <th>最高价</th>
      <th>最低价</th>
    </tr>
    </thead>

    <tbody>
    <tr v-for="coin of bought" v-if="boughtTicker[coin.name]">
      <td>{{coin.name}}</td>
      <td>{{coin.cost}}</td>
      <td>{{coin.basePrice}}</td>
      <td>{{boughtTicker[coin.name].last}}</td>
      <td>{{coin.count}}</td>
      <td>{{((boughtTicker[coin.name].last - coin.basePrice) * coin.count).toFixed(2)}}</td>
      <td>{{((boughtTicker[coin.name].last - coin.cost)/coin.cost*100).toFixed(2)}}%</td>
      <td>{{boughtTicker[coin.name].high}}</td>
      <td>{{boughtTicker[coin.name].low}}</td>
    </tr>
    </tbody>
  </table>
  <hr>
  <table class="table bordered">
    <thead>
    <tr>
      <th>Coin</th>
      <th>最高价</th>
      <th>最低价</th>
      <th>当前价</th>
    </tr>
    </thead>

    <tbody>
    <tr :class="{bought: infos[coin].bought}" v-for="coin of coins" v-if="allTickers[coin]">
      <td>{{infos[coin].name}}</td>
      <td>{{allTickers[coin].high}}</td>
      <td>{{allTickers[coin].low}}</td>
      <td>{{allTickers[coin].last}}</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
