@import "Bootstrapping/Variables";
@import "Bootstrapping/Mixins";

.container {
    overflow: hidden;
}

.page-index {
    padding-bottom: 60px;
    .container {
        .box-normal {
            width: 21%;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }
    }
}

.page-article {
    .container {
        header {
            .btn {
                height: 60px;
                line-height: 60px;
                font-size: 20px;
            }
        }
        .list {
            .box-normal {
                height: 100px;
                line-height: 100px;
                text-align: center;
            }
        }
    }
}

.page-waterfall {
    .content {
        column-width: 220px;
        text-align: center;
        .item {
            .shadow;
            width: 200px;
            margin-bottom: 20px;
            transition: box-shadow .25s ease-in;
        }
        .item:hover {
            box-shadow: 0 20px 15px -10px rgba(0, 0, 0, .46);
            cursor: pointer;
        }
    }
}

.page-spa {
    padding-bottom: 36px;
    .container {
        .box-normal {
            width: 30%;
            a {
                display: inline-block;
                height: 100%;
            }
        }
    }
}



.page-mengme {
    canvas {
        vertical-align: top;
    }
    .dock {
        position: absolute;
        width: 100%;
        bottom: 10px;
        .dock-container {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            .dock-item {
                position: relative;
                width: 64px;
                transition: width .4s ease-in-out;
                img {
                    position: absolute;
                    bottom: 0;
                }
            }
            .dock-item:hover {
                width: 128px;
            }
            .dock-item:hover + .dock-item {
                width: 96px;
            }
        }
    }
}

.page-sort {
    .app {
        display: flex;
    }
    .left {
        .shadow;
        width: 300px;
        padding-top: 60px;
        padding-bottom: 20px;
        .list {
            li {
                .btn {
                    width: 100%;
                    padding: 0;
                }
                .btn + .btn {
                    border-top: 1px solid @whiteColor;
                }
            }
        }
    }
    .right {
        flex-grow:1;
        .content {
            min-height:100%;
            padding:20px;
            .tools {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;
                .btn {
                    min-width: 80px;
                    background-color: @blueColor;
                    color: @whiteColor;
                    margin-right: 20px;
                }
            }
            .playground {
                display: flex;
                align-items: flex-end;
                background-color: @bgColor;
                .pillar {
                    width: 20px;
                    text-align: center;
                    background-color: @blueColor;
                    margin-left: 10px;
                    //color: @whiteColor;
                }
            }
        }
    }
}
