@import "Bootstrapping/Variables";

.container {
    overflow: hidden;
}

.page-index {
    .container {
        .box-normal {
            width: 21%;
            height: 100px;
            line-height: 100px;
            text-align: center;
        }
    }
}

.page-article {
    .container {
        header {
            .btn {
                height: 60px;
                line-height: 60px;
                font-size: 20px;
            }
        }
        .list {
            .box-normal {
                height: 100px;
                line-height: 100px;
                text-align: center;
            }
        }
    }
}